%h3.mTop20.mBot20
  = configatron.solaro_trade_mark
  Changelog
/ Start
.clear
  .mainTab_div.mTop5.clearFix
    %ul
      %li
        %strong
          Version #{app_revision}
        %ul.textChangelog
          %li Modify the database to support the new bulk student functionality, without breaking the old accounts.
          %li Put Outcomes in Order by <ORDINAL> tag passed along through publication in the standards report
          %li An admin should be able to browse a paginated list of campaigns
          %li An admin should be able to create bulk students in batches.
          %li After creating bulk students, the admin should be able to download the data on created students in a CSV format.
          %li An admin should be able to create / edit sponsor details.
          %li An admin should be able to view a paginated list of sponsors
          %li An admin should be able to add a campaign to a sponsor on the sponsor details page
Bug Fixes.
= render :partial => "shared/help_and_support"