<h3 class="mTop20 mBot20"><%= configatron.solaro_trade_mark%> Changelog</h3>

<!--Start-->
<div class="clear">
  <div class="mainTab_div mTop5 clearFix">
    <ul>
      <li>
        <strong>Version <%= app_revision %></strong>
        <ul class="textChangelog">
					<li>System upgrade to SOLARO 2.2</li>
					<li>Fixes for SOLARO at School student access.</li>
					<li>Added student profile administration and reporting to the teacher account.</li>
        </ul>
      </li>
    </ul>
  </div>
</div>
<!--End-->