<h3 class="mTop20 mBot20"><%= configatron.solaro_trade_mark%> Changelog</h3>

<!--Start-->
<div class="clear">
  <div class="mainTab_div mTop5 clearFix">
    <ul>
      <li>
        <strong>Version <%= app_revision %></strong>
        <ul class="textChangelog">
          <li> New avatars have been added to <%= configatron.solaro_trade_mark%></li>
          <li> Improving usability of Question Review pages with Solutions.</li>
          <li> Many improvements to notes section. Notes can be converted to PDFs now.</li>
          <li> New navigation system, for choosing classes, topics and sections.</li>
          <li> Improvements to My<%= configatron.solaro_trade_mark%> page.</li>
          <li> New revamped authentication system.</li>
        </ul>
      </li>

    </ul>
  </div>
</div>
<!--End-->