<h3 class="mTop20 mBot20"><%= configatron.solaro_trade_mark %> Changelog</h3>

<!--Start-->
<div class="clear">
  <div class="mainTab_div mTop5 clearFix">
    <ul>
      <li>
        <strong>Version <%= app_revision %></strong>
        <ul class="textChangelog">
          <li>Premium accounts can be canceled in the parent account.</li>
          <li>Updates for reviewing assignments in the teacher account.</li>
          <li>Students can start/stop/finish reading quizzes in any order.</li>
          <li>Bug Fix - Students can access assignments from outside of the school.</li>
          <li>School Administrators have an improved way to add/remove IP addresses and ranges</li>
          <li>Students have a "To Do" list which shows anything the student did not complete in a previous session and
            any new assignments provided by their teachers. Completed Assignments and Practice Quizzes/Tests appear in
            the "Completed" list.
          </li>
          <li>Teachers can display assignment results to the class without revealing each student's performance as
            student names are hidden by default on this report.
          </li>
          <li>Teachers can download assignment results in a comma separated variable (CSV) file.</li>
          <li>Teachers have four ways to add students to their classes including student self-registration, adding an
            entire list of students already registered in another class, searching for an existing student, and adding a
            list of students by first name and last name.
          </li>
          <li>Teachers, while adding a list of student names to a class, SOLARO will detect duplicate names for students
            already registered in a school. This prevents students from having multiple accounts.
          </li>
        </ul>
      </li>
    </ul>
  </div>
</div>
<!--End-->