%h3.mTop20.mBot20
  = configatron.solaro_trade_mark
  Changelog
/ Start
.clear
  .mainTab_div.mTop5.clearFix
    %ul
      %li
        %strong
          Version #{app_revision}
        %ul.textChangelog
          %li Teachers can see individual student responses while reviewing the detailed assignment report.
          %li Demonstration accounts that don't require a login are available friom the sign-up page.
          %li Notes and Flashcards for lessons that have been removed by the SOLARO Administrator still appear in the Student account.          
Bug Fixes.
= render :partial => "shared/help_and_support"