<h3 class="mTop20 mBot20"><%= configatron.solaro_trade_mark%> Changelog</h3>

<!--Start-->
<div class="clear">
  <div class="mainTab_div mTop5 clearFix">
    <ul>
      <li>
        <strong>Version <%= app_revision %></strong>
        <ul class="textChangelog">
					<li>New <%= configatron.solaro_trade_mark%> logo.</li>
					<li>New user interface changes to all accounts.</li>
					<li>Practice quizzes and tests can be saved and completed later.</li>
					<li>New top of page navigation including renaming some pages.</li>
					<li>Updates to Privacy Policy and Terms of Service.</li>
					<li>Practice quiz and test results for lessons visually show achievement above 75% by turning green.</li>
        </ul>
      </li>
    </ul>
  </div>
</div>
<!--End-->