<tr>
  <td>Hi,</td>
</tr>
<tr>
  <td><%= @notification.profile.display_name.capitalize %> is in <%= link_to configatron.solaro_trade_mark, APP_CONFIG['site_url'] %>
     and has added you as child.</td>
</tr>
<tr>
  <td>If you are the child of <%= @notification.profile.display_name %> click the link below to login to solaro.com</td>
</tr>
<tr>
  <td><%= link_to login_url, login_url %></td>
</tr>
