<tr>
  <td>Hi <%= @notification.profile.display_name %>,</td>
</tr>
<tr>
  <td>This is a confirmation that your <%= configatron.solaro_trade_mark%> email address has been changed.</td>
</tr>
<tr>
  <td>Please use this email address in future to log into <%= configatron.solaro_trade_mark%>.</td>
</tr>