%tr
  %td Hi #{@display_name}

%tr
  %td
    Your child's #{configatron.solaro_trade_mark} Student Account has been created, and s/he can now access #{configatron.solaro_trade_mark}.

%tr
  %td
    Your child's username is : #{@username}

%tr
  %td
    If you or your child cannot remember the password, please login to your parent account where you will be able to choose a new password.

%tr
  %td
    Please keep this email for future reference.


    