%tr
  %td
    Hi,
%tr
  %td
    A student who uses SOLARO has invited you to join as his/her parent.
%tr
  %td
    To accept this request click the link below and follow the instructions.
%tr
  %td
    %strong To Accept the child's request
    = link_to("click here", register_parent_url(@notification.activation_code))
%tr
  %td
    You can also
    %strong copy and paste the URL below into your browser.
%tr
  %td= register_parent_url(@notification.activation_code)


