<tr>
  <td>Hi <%= @notification.profile.display_name %>,</td>
</tr>
<tr>
  <td>Your parent request has been approved by <%= @notification.profile.parent.display_name %></td>
</tr>
<tr>
  <td><%= link_to login_url, login_url %></td>
</tr>
  

