%tr
  %td
    An account within the 15-day premium trial period has been canceled.  The refund should be processed for the following:

%tr
  %td
    %b Parent:
    #{@parent.email}
%tr
  %td
    %b Order ID:
    #{@order_details.merchant_order_id}
%tr
  %td
    %b Merchant:
    #{@order_details.attributes['currency']}
