<tr>
  <td>Your SOLARO™ at School account has been created, and you can now access SOLARO™.</td>
</tr>
<tr>
  <td>Your User Name is your email address : <%= @notification.profile.email %></td>
</tr>
<tr>
  <td>Please keep this email for future reference.</td>
</tr>
<tr>
  <td>Please visit us often at http://www.solaro.com.</td>
</tr>