<tr>
  <td>Your <%= configatron.solaro_trade_mark %> at School account has been created, and you can now access <%= configatron.solaro_trade_mark %>.</td>
</tr>
<tr>
  <td>Your Username is your email address : <%= @notification.profile.email %></td>
</tr>
<tr>
  <td>Please keep this email for future reference.</td>
</tr>
<tr>
  <td>Please visit us often at <%= app_domain_url -%>.</td>
</tr>