%tr
  %td
    Hi #{@notification.profile.display_name},
%tr
  %td
    %font{:style => "color:#28A2BA; font-size:17px;"}
      Thank you for registering a #{configatron.solaro_trade_mark} Student Account.
%tr
  %td
    %strong Click the link below and follow the instructions to continue the account creation process:
%tr
  %td
    = link_to "Click here to continue to activate your account and set the password.", activate_and_reset_password_url(@notification.activation_code)
%tr
  %td
    You can also
    %strong copy and paste the URL below into your browser.
%tr
  %td= activate_and_reset_password_url(@notification.activation_code)
