<tr>
  <td>Hi <%= @notification.profile.display_name %>,</td>
</tr>
<tr>
  <td>Your child request has been approved by <%= @child_profile.display_name %></td>
</tr>
<tr>
  <td><%= link_to login_url, login_url %></td>
</tr>

